<% for (res of reservations) {%>
    <p>
      <form action=<%-`/reservations/${res.res_id}?_method=DELETE`%> method="POST">
        <a href=<%-`/rooms/${res.room_id}`%>><%-res.room_name%></a>:
        <%-`${res.date.getMonth()+1}-${res.date.getDate()}-${res.date.getFullYear()}`%>
        <button>DELETE RESERVATION</button>
      </form>
    </p>
<% } %>