<div>
  <label for="email">Enter Email:</label>
  <input type="text" name="email" id="email" />
</div>
<div>
  <label for="password">Enter Password:</label>
  <input type="text" name="password" id="password" />
</div>
