<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Reservation</title>
  </head>
  <body>
    <h1>Select Time for Reservation:</h1>
    <form action=<%-`/rooms/${id}/createReservation`%> method="POST">
        <!-- Input for date with min and max -->
        <label for="date">Date of reservation:</label>
        <input type="date" name="date" id="date" min=<%-`${currentDate}`%> max=<%-maxDate%>>
      
        <button>Submit</button>
    </form> 
    <a href=<%-`/rooms/${id}`%>>Lodging Details</a>
    </br>
    <a href="/">Home</a>
  </body>
</html>
