<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservations</title>
  </head>
  <body>
    <h1>Your Reservations:</h1>
    <%- reservations.length ? include(`../partials/displayReservations`) : `You
    have no reservations currently.` %>
    <a href="/">Home</a>
  </body>
</html>
